$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$main-color : #33b2e3;
$sub-color: #0397d6;;

@mixin setWidthAndCenter($max-width, $min-width){
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
}

h1,h2,h3,h4,h5,h6,ol,ul{
  padding: 0;
  margin: 0;
  font-size: inherit;
}

ul,ol,li{
  list-style: none;
}

@font-face {
  font-family: 'ChevyM';
  src: url('../fonts/ChevyM.woff') format('woff'),
       url('../fonts/ChevyM.ttf') format('truetype');
}

@font-face {
  font-family: 'ChevyB';
  src: url('../fonts/ChevyB.woff') format('woff'),
       url('../fonts/ChevyB.ttf') format('truetype');
}

@font-face {
  font-family: 'ChevyL';
  src: url('../fonts/ChevyL.woff') format('woff'),
       url('../fonts/ChevyL.ttf') format('truetype');
}

@font-face {
  font-family: 'ChevyUL';
  src: url('../fonts/ChevyUL.woff') format('woff'),
       url('../fonts/ChevyUL.ttf') format('truetype');
}

.preventDragAndSelect{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

html,body{
  overflow-x: hidden;
}

body{
  font-family: 'ChevyM','sans-serif';
  font-size: 16px;
  text-size-adjust: none;

  @extend .preventDragAndSelect;
}


img{
  @extend .preventDragAndSelect;
}


a:hover{
  text-decoration: none;
}


.blind{
  display: none !important;
  position: absolute;
  top: -9999em;
  left: -9999em;
  width: 0;
  height: 0;
  visibility: hidden;
}

.center{
  text-align: center;
}

hr{
  display: none;
}

// TODO mixin을 사용할 경우, e11에서 좌표 이동에 대한 적용이 되지 않는다.
// animate
//@mixin animateDown($top){
//
//}


// keyframes를 모두 분리하여 정의할 것.
@keyframes ani-topDown
{
  from {top: 0; opacity: 0;}
  to {top: 270px; opacity: 1;}
}

/* Safari and Chrome */
@-webkit-keyframes ani-topDown
{
  from {top: 0; opacity: 0;}
  to {top: 270px; opacity: 1;}
}

@keyframes ani-topDown-m
{
  from {top: 0; opacity: 0;}
  to {top: 140px; opacity: 1;}
}

/* Safari and Chrome */
@-webkit-keyframes ani-topDown-m
{
  from {top: 0; opacity: 0;}
  to {top: 140px; opacity: 1;}
}


@keyframes ani-fadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Safari and Chrome */
@-webkit-keyframes ani-fadeIn
{
  from {opacity: 0;}
  to {opacity: 1;}
}


@import 'scss/640-below';
@import 'scss/640-beyond';



// animation


$size: 20px;
$speed: 3s;
$peakopacity:0.7;




.arrows {
  position: absolute;
  top:50%;
  left:50%;
  /**/
  width:$size;
  height:$size;
  transform:translate(-50%,-50%);
  &:before {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:$size/3 solid rgba(0,0,0,$peakopacity);
    border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
    transform:translate($size/3,$size*4/3)rotate(-45deg);
    animation: arrows $speed linear infinite;
  }
  &:after {
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-left:$size/3 solid rgba(0,0,0,$peakopacity);
    border-bottom:$size/3 solid rgba(0,0,0,$peakopacity);
    transform:translate($size*2/3,0px)rotate(-45deg) ;
    animation: arrows $speed linear infinite $speed/-2;
  }
}


@keyframes arrows {
  0% {
    border-left:$size/3 solid rgba(51,178,227,0);
    border-bottom:$size/3 solid rgba(51,178,227,0);
    transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
  }
  10%, 90% {
    border-left:$size/3 solid rgba(51,178,227,0);
    border-bottom:$size/3 solid rgba(51,178,227,0);
  }
  50% {
    border-left:$size/3 solid rgba(51,178,227,$peakopacity);
    border-bottom:$size/3 solid rgba(51,178,227,$peakopacity);
    transform:translate($size/-6,0px)rotate(-45deg) ;
  }
  100% {
    border-left:$size/3 solid rgba(51,178,227,0);
    border-bottom:$size/3 solid rgba(51,178,227,0);
    transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
  }
}