@charset "UTF-8";

//////////////////////////////////
// 640px 이하의 모바일에서 볼 경우 처리 //
//////////////////////////////////
@media screen and (max-width: 640px) {
  #tc-header{
    border-top: 5px solid $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 1px 0 5px #999;
    z-index: 200;
  }

  .tc-nav{
    display: none;
  }

  .tc-nav{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;

    .tc-nav-list{
      float: left;
      width: 20%;
    }

    .tc-nav-link{
      font-family: 'ChevyB';
      text-align: center;
      font-size: 18px;
      display: block;
      height: 53px;
      line-height: 53px;
      color: $main-color;
    }
  }

  .tc-header-inner{
    height: 50px;

  }

  .tc-cs-info{
    display: none;
  }


  .tc-nav-m{
     display: block;

    .tc-nav-link{
      font-size: 14px;
    }
  }

  .tc-nav-m{
    top: 0;
  }

  .tc-nav-link-logo{
    margin-top: 7px;
  }

  .tc-content-body{
    position: relative;
    padding-top: 50px;
    height: 350px;
    z-index: 100;

    background: url('../../images/bg_top_spot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


  .tc-content-logo{
    position: absolute;
    text-align: center;
    top: 140px;
    left: 50%;
    margin-left: -105px;

    animation: ani-topDown-m 3s ease-out forwards;
    -webkit-animation: ani-topDown-m 3s;
    animation-iteration-count: 1;
  }

  .tc-content-logo-img{
    width: 220px;
  }


  .tc-content-service{
    background:url('../../images/bg_top_title_m.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-service-inner{
    @include setWidthAndCenter(1020px, 320px);
    padding-bottom: 50px;
  }

  .tc-content-title{
    text-align: center;
    padding-top: 15px;
  }

  .tc-content-title-img{
    width: 100px;
  }



  .tc-content-process{
    background: #f6f5f6;
  }

  .tc-content-process-inner{
    @include setWidthAndCenter(900px, 320px);
    padding: 20px 10px;
  }

  .tc-content-process-img{
    display: none;
  }

  .tc-content-process-img-m{
    width: 100%;
  }


  .tc-content-factory-inner{
    @include setWidthAndCenter(900px, 320px);
    padding: 30px 10px 0 10px;
  }

  .tc-content-factory-img{
    width: 100%;
  }


  .tc-content-factory-bg{
    margin-top: 30px;
    height: 215px;

    background: url('../../images/bg_factory.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;

  }


  .tc-content-service__01{
    display: none;
  }

  .tc-content-service__01_m{
    @include setWidthAndCenter(900px, 320px);
    margin-top: 70px;
    padding: 0 20px;
  }

  .tc-content-service-img{
    width: 100%;
  }






  // 창업문의

  .tc-content-venture{
    background: #f4f9fa url('../../images/bg_top_title_m.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }


  .tc-content-venture-inner{
    @include setWidthAndCenter(900px, 320px);
    padding-bottom: 40px;

    .col-sm-6{
      text-align: center;
      
    }
  }

  .tc-content-venture-phrase{
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .txt-venture-info01-img{
    width: 100%;
    // max-width: 320px;
  }
  .txt-venture-info02-img{
    width: 100%;
    max-width: 250px;
  }

  .txt-venture-info03-img{
    width: 100%;
    max-width: 250px;
    margin-top: 40px;
  }

  .tc-content-venture-apply{
    padding-top: 50px;
    height: 200px;

    background: url('../../images/bg_washing_machine.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;

    img{
      width: 100%;
      max-width: 200px;
    }

  }




  // 빨래통 소식
  .tc-content-news{
    background: url('../../images/bg_top_title_m.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-blog{
    padding-top: 70px;
    //padding-bottom: 160px;
  }

  .tc-content-news-inner{
    @include setWidthAndCenter(1280px, 320px);
    padding-bottom: 40px;
    background: url('../../images/bg_bubble.jpg') no-repeat right bottom;
  }

  .blog-wrp{
    text-align: center;
  }

  .blog-title{
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #211712;
  }

  .blog-date{
    font-size: 15px;
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #2d231e;
  }


  .blog-btn{
    padding-top: 160px;
    img{
      width: 100%;
      max-width: 170px;
    }
  }



  // 회사소개
  .tc-content-company{
    background: url('../../images/bg_top_title_m.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-company-inner{
    @include setWidthAndCenter(1080px, 320px);

    .tc-content-title-img{
      width: 100px;
    }
  }

  .tc-content-company-info{
    .col-sm-4{
      text-align: center;
      margin-bottom: 30px;
    }

    img{
      width: 100%;
      max-width: 300px;
    }

  }


  .tc-content-sub-title{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 23px;
    color: #333333;
    font-family: 'ChevyB';
    text-align: center;
    background: url('../../images/bl_split_vertical.gif') no-repeat center bottom;
    padding-bottom: 25px;
  }



  // map
  #tryclean_map{
    width: 100%;
    height: 250px;
  }



  // affiliate

  .affiliate-list{
    @include setWidthAndCenter(1360px, 320px);
    padding-left: 10px;
    padding-right: 20px;

    .col-sm-4, .col-md-3, .col-lg-2{
      text-align: center;
      margin-bottom: 40px;
    }

    img{
      width: 100%;
      max-width: 260px;
    }
  }



  // footer
  #tc-footer{
    background: $sub-color;
  }
  .tc_footer_inner{
    @include setWidthAndCenter(1120px, 320px);
    padding: 30px 20px;
    font-size: 14px;
    color: #ddedf7;
  }

  .tc-footer-info-phrase{
    margin-top: 20px;
  }

  .copyright{
    margin-top: 20px;
  }

  .tc-footer-left-info{
    text-align: right;
  }

  .btn-cs-call,.btn-cs-call:hover{
    font-size: 20px;
    color: #ddedf7;
    font-weight: bold;
  }

  .tc-footer-sns-box{
    margin-bottom: 25px;
  }
}
