@charset "UTF-8";

@media screen and (min-width: 640px) {
  #tc-header{
    border-top: 5px solid $main-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 1px 0 5px #999;
    z-index: 200;
  }

  .tc-header-inner{
    @include setWidthAndCenter(1010px, 320px);
    position: relative;

    height: 75px;
    // overflow-y: hidden;


    .tc-cs-info{
      position: absolute;
      top: 25px;
      right: -185px;
    }
  }

  .tc-nav{
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;

    .tc-nav-list{
      float: left;
      width: 20%;
    }

    .tc-nav-link{
      font-family: 'ChevyB';
      text-align: center;
      font-size: 18px;
      display: block;
      height: 53px;
      line-height: 60px;
      color: $main-color;
    }
  }

  .tc-nav-m{
    display: none;
  }


  .tc-nav-pc{
    .txt-nav-01{
      background: url('../../images/txt_nav_img.png') no-repeat 0 0;
      overflow: hidden;
      text-indent: -9999em;
      display: inline-block;
      width: 43px;
      height: 18px;
    }
    .txt-nav-02{
      background: url('../../images/txt_nav_img.png') no-repeat -66px 0;
      overflow: hidden;
      text-indent: -9999em;
      display: inline-block;
      width: 57px;
      height: 18px;
    }

    .txt-nav-03{
      background: url('../../images/txt_nav_img.png') no-repeat -154px 0;
      overflow: hidden;
      text-indent: -9999em;
      display: inline-block;
      width: 28px;
      height: 18px;
    }

    .txt-nav-04{
      background: url('../../images/txt_nav_img.png') no-repeat -214px 0;
      overflow: hidden;
      text-indent: -9999em;
      display: inline-block;
      width: 57px;
      height: 18px;
    }
  }

  .tc-content-body{
    position: relative;
    padding-top: 80px;
    height: 800px;
    z-index: 100;

    background: url('../../images/bg_top_spot.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .tc-content-logo{
    position: absolute;
    text-align: center;
    top: 270px;
    left: 50%;
    margin-left: -135px;

    animation: ani-topDown 3s ease-out forwards;
    -webkit-animation: ani-topDown 3s;
    animation-iteration-count: 1;
  }

  .tc-content-left{
    position: absolute;
    top: 260px;
    left: 80px;

    animation: ani-fadeIn 3s ease-out forwards;
    -webkit-animation: ani-fadeIn 3s;
    animation-delay: 1s;
  }

  .tc-content-right{
    position: absolute;
    top: 260px;
    right: 80px;

    animation: ani-fadeIn 3s ease-out forwards;
    -webkit-animation: ani-fadeIn 3s;
    animation-delay: 1s;
  }


  .tc-content-body-inner{
    position: relative;
    @include setWidthAndCenter(1010px, 320px);
    height: 720px;
  }


  .tc-content-service{
    background:url('../../images/bg_top_title.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-service-inner{
    @include setWidthAndCenter(1020px, 320px);
    padding-bottom: 100px;


  }

  .tc-content-title{
    text-align: center;
    padding-top: 15px;
  }



  .tc-content-service__01{
    @include setWidthAndCenter(900px, 320px);
    margin-top: 180px;
    padding: 0 20px;
    text-align: center;
  }

  .tc-content-service__01_m{
    display: none;
  }

  .tc-content-service-img{
    width: 100%;
    max-width: 800px;
  }


  .tc-content-process{
    background: #f6f5f6;
  }

  .tc-content-process-inner{
    @include setWidthAndCenter(900px, 320px);
    padding: 70px 20px;
  }

  .tc-content-process-img{
    width: 100%;
  }

  .tc-content-process-img-m{
    display: none;
  }

  .tc-content-factory{
    position: relative;
  }


  .tc-content-factory-inner{
    @include setWidthAndCenter(900px, 320px);
    padding: 100px 20px 0 20px;
  }

  .tc-content-factory-img{
    width: 100%;
    max-width: 650px;
  }

  .tc-content-factory-bg{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 350px;

    background: url('../../images/bg_factory.jpg');
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;


  }

  // 창업문의

  .tc-content-venture{
    background: #f4f9fa url('../../images/bg_top_title.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }


  .tc-content-venture-inner{
    @include setWidthAndCenter(900px, 320px);
    padding-bottom: 40px;
    
    .col-sm-6{
      text-align: center;
    }
  }

  .tc-content-venture-phrase{
    padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
  }

  .txt-venture-info01-img{
    width: 100%;
    max-width: 650px;
  }
  .txt-venture-info02-img{
    width: 100%;
    max-width: 400px;
  }
  .txt-venture-info03-img{
    width: 100%;
    max-width: 400px;
  }

  .tc-content-venture-apply{
    padding-top: 100px;
    height: 340px;


    background: url('../../images/bg_washing_machine.jpg');
    background-repeat: repeat-x;
    background-position: center 640px;
    background-attachment: fixed;
  }


  // 빨래통 소식
  .tc-content-news{
    background: url('../../images/bg_top_title.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-blog{
    padding-top: 200px;
    // padding-bottom: 160px;
  }

  .tc-content-news-inner{
    @include setWidthAndCenter(1280px, 320px);
    padding-bottom: 70px;
    background: url('../../images/bg_bubble.jpg') no-repeat right bottom;
  }


  .blog-wrp{
    text-align: center;
  }

  .blog-title{
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #211712;
  }

  .blog-date{
    font-size: 15px;
    display: block;
    margin-top: 5px;
    text-align: center;
    color: #2d231e;
  }


  .blog-btn{
    padding-top: 160px;
  }


  // 회사소개
  .tc-content-company{
    background: url('../../images/bg_top_title.png');
    background-position: 0 0;
    background-repeat: repeat-x;
  }

  .tc-content-company-inner{
    @include setWidthAndCenter(1080px, 320px);
  }

  .tc-content-company-info{
    .col-sm-4{
      margin-bottom: 30px;
    }

  }

  .tc-content-sub-title{
    margin-top: 130px;
    margin-bottom: 70px;
    font-size: 30px;
    color: #333333;
    font-family: 'ChevyB';
    text-align: center;
    background: url('../../images/bl_split_vertical.gif') no-repeat center bottom;
    padding-bottom: 25px;
  }


  #tryclean_map{
    width: 100%;
    height: 400px;
  }

  .affiliate-list{
    @include setWidthAndCenter(1360px, 320px);
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 20px;

    .col-sm-4, .col-md-3, .col-lg-2{
      text-align: center;
      margin-bottom: 30px;
    }

    img{
      width: 100%;
      max-width: 260px;
    }
  }



  // footer
  #tc-footer{
    background: $sub-color;
  }
  .tc_footer_inner{
    @include setWidthAndCenter(1120px, 320px);
    padding: 30px 20px;
    font-size: 14px;
    color: #ddedf7;
  }

  .tc-footer-info-phrase{
    margin-top: 20px;
  }

  .copyright{
    margin-top: 50px;
  }
  
  .tc-footer-left-info{
    text-align: right;
  }

  .btn-cs-call,.btn-cs-call:hover{
    font-size: 26px;
    color: #ddedf7;
  }

  .tc-footer-sns-box{
    margin-bottom: 25px;
  }


  .arrow-wrapper{
    height: 70px;
    position: relative;
    margin-bottom: 40px;
  }

  .arrow-wrapper-top{
    height: 70px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

}


@media screen and (max-width: 1010px) {
  .tc-content-left{
    display: none;
  }
  .tc-content-right{
    display: none;
  }
}